{template "wap","header"}
<div class="containe ">
  <div class="contit">
    <p><img src="/statics/wap/img/tit3.png" width="60" height="40"><strong>{$cate['catname']} </strong>{$cate['catdir']}</p>
  </div>
    <div class="main ddnr">
        <h3>{$title}</h3>
        <span>时间：{$updatetime} 作者{$catid}：{$author}</span>
        <div style="padding: 20px 24px;border:1px solid #cde4d1;">
            {$content}
        </div>
    </div>
    <div class="main"></div>
    <div class="main xgnew">
        
    </div>

</div>
{template "wap","footer"}
