body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  color: #3b3b3b;
}
ol,
li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
@font-face {
  font-family: mnjsh;
  src: url('../font/mnjsh.ttf');
}
.opact {
  opacity: 0;
}
.di {
  vertical-align: middle;
  display: inline-block;
}
.set-bg1 {
  background: #f7f8fa;
}
.btn {
  width: 206px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.btn::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #eb5d16;
  transition: all .3s ease;
  z-index: 1;
}
.btn:hover {
  color: #fff!important;
  border-color: #eb5d16 !important;
}
.btn:hover::after {
  width: 100%;
}
.btn span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.btn-default {
  border: 1px solid #fff;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
#header {
  position: relative;
  overflow: hidden;
}
#header .header_nav {
  width: 100%;
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  z-index: 2;
  transition: all 0.3s ease-in;
}
#header .header_nav:hover {
  background: #000000;
}
#header .banner .swiper-slide {
  height: 555px;
}
#header .home_banner .gun {
  display: none;
}
#header .home_banner .swiper-slide {
  height: 614px;
}
#header .c_banner .swiper-slide {
  height: 612px;
  width: 100%;
}
#header .swiper-slide {
  position: relative;
  display: table;
  width: 100%;
}
#header .swiper-slide .tips {
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
#header .swiper-slide .tips strong {
  color: #eb5d16;
}
#header .btn-default {
  margin-top: 64px;
}
#header .home-banner-slogan {
  font-size: 45px;
  color: #fff;
  line-height: 60px;
  line-height: 90px;
}
#header .swiper-pagination-bullet {
  width: 30px;
  height: 3px;
  background: #fff;
  opacity: 1;
  border-radius: 0;
}
#header .swiper-pagination-bullet-active {
  background: #eb5d16;
}
.header_nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
.header_nav .logo {
  width: 166px;
  margin-right: 100px;
}
.header_nav .one_nav {
  padding: 0 40px;
  box-sizing: border-box;
}
.header_nav .one_list {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 9;
  cursor: pointer;
  padding: 15px 40px;
}
.header_nav .one_list:hover .one_list_a {
  color: #eb5d16;
}
.header_nav .one_list:hover .one_list_a_x::after {
  background-position: 0 -24px;
}
.header_nav .one_list.show .two_nav {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translate3d(0, 0, 0);
}
.header_nav .one_list.show2 .two_nav {
  display: block;
}
.header_nav .one_list .one_list_a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.header_nav .one_list .one_list_a::after {
  content: '';
  position: absolute;
  right: -18px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 16px;
  height: 6px;
}
.header_nav .one_list .one_list_a_x::after {
  background: url('../image/sjt.png') no-repeat center;
  background-position: 0 -18px;
}
.header_nav .two_nav {
  transition: all 0.3s ease-out;
  position: absolute;
  top: 60px;
  width: 9000px;
  cursor: auto;
  background: #fff;
  left: 50%;
  transform: translateX(-50%) translate3d(0, 10px, 0);
  padding-bottom: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
}
.header_nav .two_nav::after {
  content: " ";
  border-width: 6px;
  position: absolute;
  display: block;
  width: 0px;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: -6px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.header_nav .two_list {
  text-align: left;
  width: 190px;
}
.header_nav .two_list_a {
  line-height: 25px;
  font-size: 12px;
  display: block;
  color: #999999;
}
.header_nav .two_list_a:hover {
  color: #eb5d16;
}
.header_nav .two_list_a_ti {
  margin-bottom: 8px;
  color: #000000;
  height: 40px;
  line-height: 40px;
  font-size: 13.33px;
  border-bottom: 1px solid #dadada;
  cursor: auto;
}
.header_nav .two_list_a_ti:hover {
  color: #000000;
}
.header_nav .two_list_tz {
  margin-left: 25px;
}
.header_nav .two_list_tz .two_list_a_ti {
  cursor: pointer;
  position: relative;
}
.header_nav .two_list_tz .two_list_a_ti::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 15px;
  height: 9px;
  background: url('../image/sjt.png') no-repeat right center;
  background-position: 0 -9px;
}
.header_nav .two_list_tz .two_list_a_ti:hover {
  color: #eb5d16;
}
.header_nav .two_list_tz .two_list_a_ti:hover::after {
  background-position: 0 0;
}
.header_nav .hamburger-box {
  width: 24px;
  height: 18px;
  position: absolute;
  right: 5%;
  top: 50%;
  margin-top: -9px;
  cursor: pointer;
  display: none;
}
.header_nav .hamburger-inner {
  display: block;
  top: auto;
  bottom: 0;
  margin-top: -1px;
}
.header_nav .hamburger-inner::after,
.header_nav .hamburger-inner::before {
  content: "";
  display: block;
}
.header_nav .hamburger-inner,
.header_nav .hamburger-inner::after,
.header_nav .hamburger-inner::before {
  width: 24px;
  height: 2px;
  background-color: #eb5d16;
  border-radius: 2px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: .15s;
  transition-timing-function: ease;
}
.header_nav .hamburger-inner::before {
  top: -8px;
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.header_nav .hamburger-inner::after {
  bottom: -8px;
  top: -16px;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  -webkit-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.header_nav .is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -10px, 0) rotate(45deg);
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: .32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header_nav .is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header_nav .is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
  -webkit-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}
article {
  margin-bottom: 390px;
  background: #fff;
}
article .sec-title {
  font-size: 34px;
  color: #eb5d16;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 500;
}
article .art-nav {
  background: #f7f8fa;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 0;
}
article .art-nav a {
  vertical-align: middle;
  display: inline-block;
  font-size: 16px;
  color: #333;
  width: 400px;
  position: relative;
  transition: all .3s ease;
}
article .art-nav a:hover,
article .art-nav a.hover {
  color: #eb5d16;
}
article .art-nav a:hover::after,
article .art-nav a.hover::after {
  width: 100%;
  background: #fff;
}
article .art-nav a::after {
  content: '';
  height: 100%;
  border-bottom: 2px solid #eb5d16;
  position: absolute;
  width: 0;
  bottom: 0;
  left: 0;
  transition: all .3s ease;
  box-sizing: border-box;
}
article .art-nav a span {
  position: relative;
  z-index: 1;
}
article .sea-tibox {
  text-align: center;
}
article .sea-tibox .tips {
  font-size: 18px;
  color: #666;
  max-width: 1200px;
  padding: 0 8%;
  box-sizing: border-box;
  margin: 18px auto 0;
  line-height: 30px;
}
article .d-tit {
  padding: 85px 0 120px;
}
/* 资源 */
.resources {
  text-align: center;
  padding: 100px 0 75px;
}
.resources p {
  font-size: 18px;
  color: #666666;
  padding: 50px 0 40px;
}
.resources p span {
  display: block;
  line-height: 30px;
}
.resources .btn {
  margin-top: 40px;
  font-size: 16px;
  color: #666666;
  border-color: #eb5d16;
}
.resources .map {
  position: relative;
}
.resources .dot {
  position: absolute;
  font-size: 14px;
  color: #666;
  transition: all 2s;
}
.resources .dot span {
  width: 10px;
  height: 10px;
  background: #eb5d16;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  vertical-align: middle;
  margin: 0 8px 0 15px;
}
.resources .dot span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border: 1px solid #eb5d16;
  border-radius: 50%;
  animation: wave 3s ease infinite;
}
.resources .dot1 {
  top: 176px;
  left: 738px;
}
.resources .dot2 {
  top: 198px;
  left: 752px;
}
.resources .dot3 {
  top: 228px;
  left: 678px;
}
.resources .dot4 {
  top: 245px;
  left: 716px;
}
.resources .dot5 {
  top: 262px;
  left: 764px;
}
.resources .dot6 {
  top: 300px;
  left: 770px;
}
.resources .dot7 {
  top: 325px;
  left: 794px;
}
.resources .dot8 {
  top: 274px;
  left: 626px;
}
.resources .dot9 {
  top: 278px;
  left: 690px;
}
.resources .dot10 {
  top: 295px;
  left: 670px;
}
.resources .dot11 {
  top: 290px;
  left: 740px;
}
.resources .dot12 {
  top: 320px;
  left: 704px;
}
.resources .dot13 {
  top: 335px;
  left: 780px;
}
.resources .dot14 {
  top: 328px;
  left: 724px;
}
.resources .dot15 {
  top: 350px;
  left: 770px;
}
.resources .dot16 {
  top: 362px;
  left: 792px;
}
.resources .dot17 {
  top: 386px;
  left: 785px;
}
.resources .dot18 {
  top: 418px;
  left: 770px;
}
.resources .dot19 {
  top: 430px;
  left: 690px;
}
.resources .dot20 {
  top: 440px;
  left: 715px;
}
.resources .dot21 {
  top: 406px;
  left: 530px;
}
.resources .dot22 {
  top: 440px;
  left: 558px;
}
.resources .dot23 {
  top: 440px;
  left: 668px;
}
.resources .dot24 {
  top: 458px;
  left: 650px;
}
.resources .dot25 {
  top: 422px;
  left: 634px;
}
.resources .dot26 {
  top: 365px;
  left: 664px;
}
.resources .dot27 {
  top: 350px;
  left: 618px;
}
.resources .dot28 {
  top: 324px;
  left: 578px;
}
.resources .dot29 {
  top: 312px;
  left: 612px;
}
.resources .dot30 {
  top: 300px;
  left: 590px;
}
.resources .dot31 {
  top: 370px;
  left: 698px;
}
.resources .dot32 {
  top: 370px;
  left: 745px;
}
.resources .dot33 {
  top: 396px;
  left: 712px;
}
/* 优势 */
.advantage {
  padding: 50px 0 80px;
  background: #f7f8fa;
  text-align: center;
}
.advantage .ys-list {
  font-size: 0;
  padding-top: 40px;
}
.advantage .ys-list a {
  vertical-align: middle;
  display: inline-block;
  width: 394px;
  height: 571px;
  overflow: hidden;
  position: relative;
  margin: 10px 0;
}
.advantage .ys-list a img {
  transition: all .3s ease;
}
.advantage .ys-list a:hover img {
  transform: scale(1.05);
}
.advantage .advantage-txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 150px;
}
.advantage .advantage-txt h3 {
  font-size: 25px;
  color: #fff;
}
.advantage .advantage-txt h3 span {
  display: block;
  width: 60px;
  border-bottom: 2px solid #fff;
  height: 45px;
  margin: 0 auto;
}
.advantage .advantage-txt h3 strong {
  display: block;
  font-size: 22px;
  font-weight: 600;
  padding-top: 24px;
}
.advantage .advantage-txt p {
  font-size: 13px;
  color: #fff;
  padding: 24px 8% 0;
  line-height: 25px;
}
/* 案例 */
.case {
  text-align: center;
  padding: 50px 0 80px;
}
.case .al-list {
  padding-top: 40px;
  text-align: left;
}
.case .al-list a {
  vertical-align: middle;
  display: inline-block;
  width: 295px;
  text-align: center;
  transition: all 0.3s ease;
  margin: 10px 0;
  filter: grayscale(100%);
}
.case .al-list a:hover {
  filter: grayscale(0%);
}
/* 动态 */
.dynamic {
  background: #f7f8fa;
  text-align: center;
  padding-top: 52px;
}
.dynamic .swiper-slide {
  width: 380px;
  height: 470px;
  background: #ccc;
}
.dynamic .ys-list {
  font-size: 0;
}
.dynamic .ys-list-it {
  vertical-align: middle;
  display: inline-block;
  width: 380px;
  height: 470px;
  position: relative;
  overflow: hidden;
}
.dynamic .ys-list-it:hover .advantage-img img {
  transform: scale(1.05);
}
.dynamic .ys-list-it:hover .advantage-txt {
  text-decoration: underline;
}
.dynamic .ys-list-it .advantage-img img {
  transition: all .3s ease;
  width: 100%;
  height: 100%;
}
.dynamic .ys-list-it .advantage-img{
	width: 100%;
    height: 100%;
}
.dynamic .ys-list-it .advantage-txt {
  line-height: 56px;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 21px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.dynamic .swiper-container {
  margin: 45px auto;
}
.dynamic .swiper-pagination {
  left: 0;
  right: 0;
  margin: 0 auto;
}
.dynamic .swiper-pagination span {
  margin: 0 5px;
}
.dynamic .swiper-pagination-bullet {
  width: 30px;
  height: 3px;
  background: #e7e7e7;
  opacity: 1;
  border-radius: 0;
}
.dynamic .swiper-pagination-bullet-active {
  background: #eb5d16;
}
.dynamic .btn {
  color: #666666;
  font-size: 16px;
  border-color: #666666;
  border-radius: 30px;
  margin: 22px 0;
  overflow: hidden;
}
/* 焦点图 */
.focus-map {
  background: url(../image/jdt-bg.jpg) no-repeat center;
  background-size: cover;
  max-width: 1920px;
  width: 100%;
  height: 260px;
  display: table;
  text-align: center;
  color: #fff;
  font-size: 30px;
}
.focus-map .focus-bx {
  display: table-cell;
  vertical-align: middle;
}
.focus-map .focus-bx p {
  color: #fff;
}
.focus-map .focus-bx p:last-child {
  font-size: 44px;
}
/* 留言表单 */
.message {
  background: #f7f8fa;
  text-align: center;
}
.message.mesbj1 {
  background: #f4f4f4;
}
.message .sec-title {
  color: #333;
  padding: 120px 0 20px;
}
.message .msg-ipt {
  width: 100%;
  max-width: 418px;
  height: 46px;
  background: #fff;
  border: 1px solid #e5e5e5;
  position: relative;
  border-radius: 6px;
  margin: 26px 20px;
  vertical-align: middle;
  display: inline-block;
}
.message .msg-ipt input,
.message .msg-ipt textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 55px;
  color: #999999;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 6px;
}
.message .msg-ipt input::-webkit-input-placeholder,
.message .msg-ipt textarea::-webkit-input-placeholder {
  font-size: 14px;
}
.message .msg-ipt .msg-icon {
  height: 17px;
  width: 17px;
  display: inline-block;
  vertical-align: middle;
  background: url(../image/msg-icon.png) no-repeat;
  position: absolute;
  left: 20px;
  top: 14px;
  margin: auto;
}
.message .nice-select {
  width: 100%;
  border: none;
  height: 100%;
  padding-left: 55px;
  line-height: 46px;
}
.message .nice-select .list {
  width: 100%;
}
.message .nice-select .option.disabled {
  display: none;
}
.message .nice-select .current {
  color: #999;
}
.message .msg-ipt1 .msg-icon {
  background-position: 0 0;
}
.message .msg-ipt2 .msg-icon {
  background-position: 0 -18px;
}
.message .msg-ipt3 .msg-icon {
  background-position: 0 -35px;
}
.message .msg-ipt4 .msg-icon {
  background-position: 0 -52px;
}
.message .msg-ipt5 .msg-icon {
  background-position: 0 -68px;
}
.message .msg-ipt6 .msg-icon {
  background-position: 0 -86px;
}
.message .msg-ipt7 {
  max-width: 880px;
  height: 88px;
}
.message .msg-ipt7 .msg-icon {
  background-position: 0 -102px;
}
.message .msg-ipt7 textarea {
  resize: none;
  padding: 13px 0 0 55px;
}
.message .btn {
  color: #666666;
  font-size: 16px;
  border-color: #666666;
  border-radius: 30px;
  margin: 42px 0;
  overflow: hidden;
}
/* 搜索广告&信息流广告 */
.sea-ads {
  padding: 95px 0 90px;
  text-align: center;
}
.sea-ads .sea-ads-list {
  font-size: 0;
  padding-top: 35px;
}
.sea-ads .sea-ads-list .item {
  vertical-align: middle;
  display: inline-block;
  transition: all .4s ease;
  width: 376px;
  height: 450px;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  margin: 10px;
}
.sea-ads .sea-ads-list .item:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.sea-ads .sea-ads-list .img {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  overflow: hidden;
  margin: 32px auto 50px;
}
.sea-ads .sea-ads-list .txt {
  line-height: 28px;
  font-size: 16px;
  color: #666666;
  padding: 0 30px;
  box-sizing: border-box;
}
.sec-ads-tips {
  overflow: hidden;
}
.sec-ads-tips .sec-title {
  padding: 40px 0 16px;
}
.sec-ads-tips .gg-nav {
  width: 100%;
  border-bottom: 1px solid #dfe0e0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.sec-ads-tips .gg-nav span {
  cursor: pointer;
  width: 110px;
  position: relative;
  line-height: 50px;
}
.sec-ads-tips .gg-nav span:hover,
.sec-ads-tips .gg-nav span.hover {
  color: #eb5d16;
}
.sec-ads-tips .gg-nav span:hover::after,
.sec-ads-tips .gg-nav span.hover::after {
  width: 100%;
}
.sec-ads-tips .gg-nav span::after {
  content: '';
  height: 100%;
  border-bottom: 2px solid #eb5d16;
  position: absolute;
  width: 0;
  bottom: 0;
  left: 0;
  transition: all .3s ease;
}
.sec-ads-tips .medium-advantage-list:not(:first-child) {
  display: none;
}
.sec-ads-tips .medium-advantage-list .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 70px 0;
}
.sec-ads-tips .medium-advantage-list .item:nth-child(even) {
  flex-direction: row-reverse;
}
.sec-ads-tips .medium-advantage-list .item:nth-child(even) .img {
  animation: 0.6s 0s fadeInRight ease-out both;
}
.sec-ads-tips .medium-advantage-list .item:nth-child(even) .txt {
  animation: 0.6s 0s fadeInLeft ease-out both;
}
.sec-ads-tips .medium-advantage-list .item:nth-child(odd) .img {
  animation: 0.6s 0s fadeInLeft ease-out both;
}
.sec-ads-tips .medium-advantage-list .item:nth-child(odd) .txt {
  animation: 0.6s 0s fadeInRight ease-out both;
}
.sec-ads-tips .medium-advantage-list .img {
  max-width: 478px;
  width: 100%;
}
.sec-ads-tips .medium-advantage-list .txt {
  width: 570px;
}
.sec-ads-tips .medium-advantage-list .txt h3 {
  color: #333333;
  font-size: 24px;
  padding-bottom: 10px;
}
.sec-ads-tips .medium-advantage-list .txt p {
  font-size: 18px;
  color: #666666;
  line-height: 34px;
  padding-left: 52px;
}
.sec-ads-tips .medium-advantage-list .txt p strong {
  color: #333333;
}
/* 营销中心&信息流推广 */
.market-tips {
  padding: 90px 0 100px;
  text-align: center;
}
.market-tips .market-tips-list .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 70px 0;
}
.market-tips .market-tips-list .item:nth-child(even) {
  flex-direction: row-reverse;
}
.market-tips .market-tips-list .txt {
  width: 530px;
}
.market-tips .market-tips-list .txt .sec-title {
  font-size: 37px;
  padding-bottom: 10px;
}
.market-tips .market-tips-list .txt p {
  font-size: 20px;
  color: #6e7074;
  line-height: 34px;
  padding-left: 52px;
  text-align: justify;
}
.server-adv {
  padding: 90px 0 90px;
}
.server-adv .sec-title span {
  vertical-align: top;
  margin-left: 20px;
}
.server-adv .sec-title img {
  width: 150px;
  vertical-align: baseline;
}
.server-adv .tips {
  color: #333;
  letter-spacing: 2px;
}
.server-adv .container {
  max-width: 1220px;
}
.server-adv .server-adv-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 40px;
  justify-content: center;
}
.server-adv .server-adv-list .item {
  background: #fff;
  width: 394px;
  height: 570px;
  border-radius: 6px;
  text-align: center;
  transition: all .4s ease;
  margin: 10px;
}
.server-adv .server-adv-list .item:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.server-adv .server-adv-list h3 {
  font-size: 22px;
  color: #333;
  margin: 72px 0 25px;
}
.server-adv .server-adv-list p {
  font-size: 13px;
  color: #666;
  padding: 0px 15%;
  line-height: 24px;
}
.server-resou {
  padding: 80px 0 120px;
}
.server-resou .server-resou-list {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.server-resou .server-resou-list .item {
  width: 284px;
  height: 200px;
  overflow: hidden;
  border: 1px solid #edeeef;
  box-sizing: border-box;
  border-radius: 6px;
  background: #fff;
  margin-top: 20px;
}
.server-resou .server-resou-list .item img {
  transition: all .3s ease;
}
.server-resou .server-resou-list .item:hover img {
  transform: translateY(-5px);
}
.delivery-adv {
  padding: 120px 0;
}
.delivery-adv .delivery-adv-list {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.delivery-adv .delivery-adv-list .item {
  width: 150px;
  text-align: center;
}
.delivery-adv .delivery-adv-list .item img {
  transition: all .3s ease;
}
.delivery-adv .delivery-adv-list .item:hover img {
  transform: translateY(-5px);
}
.delivery-adv .delivery-adv-list .txt {
  padding: 30px 0;
}
/* 营销策划 */
.market-tips-plan .market-tips-list .txt p {
  padding-left: 182px;
}
.market-tips-plan .market-tips-list .txt p::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 6px;
  height: 6px;
  background: #6e7074;
  border-radius: 50%;
}
/* 产品中心 */
.product-main {
  padding: 95px 0 100px;
}
.product-main .sec-title {
  color: #303133;
  position: relative;
  z-index: 0;
}
.product-main .sec-title::after {
  content: attr(data-title);
  position: absolute;
  font-size: 56px;
  color: #f0f2f5;
  width: 100%;
  left: 0;
  z-index: -1;
  top: -32px;
  letter-spacing: 0;
}
.product-main .product-main-list {
  padding-top: 54px;
}
.product-main .product-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.product-main .product-item:nth-child(odd) .mock-browser {
  right: -22%;
}
.product-main .product-item:nth-child(odd) .product-item-show {
  margin-right: 16%;
}
.product-main .product-item:nth-child(even) {
  flex-direction: row-reverse;
}
.product-main .product-item:nth-child(even) .mock-browser {
  left: -22%;
}
.product-main .product-item:nth-child(even) .product-item-show {
  margin-left: 16%;
}
.product-main .product-item:hover .mock-browser-window img {
  animation-duration: 10s;
  animation-name: f;
  animation-timing-function: cubic-bezier(1, 0.005, 0.305, 1);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.product-main .product-item-show {
  max-width: 726px;
  width: 100%;
  position: relative;
}
.product-main .product-item-content {
  max-width: 580px;
  width: 100%;
}
.product-main .product-item-content h2 {
  margin-bottom: 20px;
}
.product-main .product-item-content h3 {
  font-size: 30px;
  color: #303133;
}
.product-main .product-item-content p {
  font-size: 20px;
  color: #666666;
  line-height: 36px;
}
.product-main .product-item-content ul {
  font-size: 30px;
  color: #303133;
  margin-top: 12px;
}
.product-main .product-item-content li {
  font-size: 16px;
  color: #666666;
  line-height: 24px;
}
.product-main .product-item-content li::before {
  content: '';
  width: 5px;
  height: 5px;
  background: #eb5d16;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.product-main .product-item-content .btn {
  width: 160px;
  height: 38px;
  line-height: 38px;
  color: #eb5d16;
  font-size: 14px;
  border-color: #eb5d16;
  border-radius: 18px;
  margin: 35px 0 0;
  text-align: center;
}
.product-main .mock-browser {
  width: 626px;
  height: 500px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.market-tips-pro .sec-title {
  text-align: center;
}
.market-tips-pro .market-tips-list .sec-title {
  text-align: left;
}
.market-tips-pro .market-tips-list .txt {
  padding-left: 6%;
  box-sizing: border-box;
  width: 580px;
}
.market-tips-pro .market-tips-list .txt p {
  padding-left: 0px;
}
.market-tips-pro .market-tips-list .txt p.bf::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 6px;
  height: 6px;
  background: #6e7074;
  border-radius: 50%;
}
/* 解决方案 */
.advantage-j .ys-list a {
  margin: 0 10px;
}
.solution-lc {
  padding: 110px 0 130px;
}
.solution-lc .img {
  text-align: center;
  max-width: 1200px;
  margin: 54px auto 0;
  width: 100%;
}
.solution-tips {
  padding-top: 90px;
}
.solution-tips .sea-tibox {
  padding-bottom: 30px;
}
.solution-tips .sea-tibox .sec-title {
  padding: 0;
}
.solution-tips .medium-advantage-list .img {
  width: initial;
  height: initial;
  animation: 1s 0s fadeInLeft ease both;
}
.solution-tips .medium-advantage-list .txt {
  animation: 1s 0s fadeInRight ease both;
  text-align: center;
}
.solution-tips .medium-advantage-list .txt p {
  padding-left: 0;
}
.solution-tips .solu-advantage-list .item {
  flex-direction: row-reverse;
}
.solution-tips .solu-advantage-list .img {
  animation: 1s 0s fadeInRight ease both;
}
.solution-tips .solu-advantage-list .txt {
  animation: 1s 0s fadeInLeft ease both;
}
.solution-tips .container {
  overflow: hidden;
  max-height: 539px;
  padding: 0px 6%;
  box-sizing: border-box;
}
/* 成功案例 */
.cases-main {
  text-align: center;
  padding: 64px 0 85px;
}
.cases-main .ys-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: center;
}
.cases-main .ys-list a {
  width: 394px;
  height: 490px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  display: block;
  margin: 10px;
  transition: all 0.3s ease;
}
.cases-main .ys-list a img {
  transition: all 0.3s ease;
}
.cases-main .ys-list a:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.cases-main .ys-list a:hover img {
  transform: scale(1.01);
}
.cases-main .advantage-img {
  width: 100%;
  height: 272px;
  overflow: hidden;
}
.cases-main .advantage-txt-hd {
  padding: 40px 20px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #dbdbdb;
  text-align: left;
}
.cases-main .advantage-txt-ti {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  color: #333;
  margin-bottom: 12px;
}
.cases-main .advantage-txt-ms span {
  font-size: 14px;
  color: #808080;
  border: 1px solid #dbdbdb;
  display: inline-block;
  margin-right: 10px;
  border-radius: 4px;
  text-align: center;
  padding: 2px 8px;
}
.cases-main .advantage-txt-ft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 26px;
}
.cases-main .advantage-txt-ft .item {
  flex: 1;
}
.cases-main .advantage-txt-ft p {
  text-align: center;
}
.cases-main .advantage-txt-ft p:nth-child(1) {
  font-size: 16px;
  color: #eb5d16;
}
.cases-main .advantage-txt-ft p:nth-child(2) {
  font-size: 14px;
  color: #666666;
}
.cases-main .btn {
  color: #666666;
  font-size: 16px;
  border-color: #666666;
  border-radius: 30px;
  margin: 14px 0 0;
  overflow: hidden;
}
.focus-map-al {
  margin-top: 0px;
}
.cases-content {
  padding-bottom: 60px;
}
.cases-content .container {
  margin-top: -135px;
  position: relative;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.cases-content .advantage-txt-hd {
  text-align: center;
  padding: 48px 0;
}
.cases-content .advantage-txt-ti {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 28px;
  color: #333;
  margin-bottom: 12px;
}
.cases-content .advantage-txt-ms {
  color: #808080;
}
.cases-content .advantage-txt-ms span {
  font-size: 14px;
  color: #808080;
  border: 1px solid #dbdbdb;
  display: inline-block;
  margin-right: 10px;
  border-radius: 4px;
  text-align: center;
  padding: 2px 8px;
}
.cases-content .main {
  padding: 0 140px 65px;
  box-sizing: border-box;
  background: #fff;
  margin-bottom: 20px;
}
.cases-content .advantage-txt-ct {
  text-align: center;
}
.cases-content .advantage-txt-ct h3 {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  position: relative;
  padding-left: 10px;
  line-height: 40px;
  text-align: justify;
}
.cases-content .advantage-txt-ct h3::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 3px;
  height: 18px;
  background: #eb5d16;
}
.cases-content .advantage-txt-ct p {
  text-align: justify;
  color: #666666;
  font-size: 14px;
  line-height: 50px;
}
.cases-content .page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cases-content .page .btn {
  width: 353px;
  line-height: 40px;
  height: 40px;
  border-color: #e5e8ee;
  color: #43464a;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
  background: #fff;
}
.cases-content .page .btn:nth-child(1) img {
  margin-right: 5px;
}
.cases-content .page .btn:nth-child(2) img {
  margin-left: 5px;
}
.cases-content .page .btn img {
  margin-top: -4px;
}
.cases-fx {
  width: 140px;
  height: 72px;
  margin: 100px auto 0;
  cursor: pointer;
  background: url('../image/fx-1.png') no-repeat center top;
  position: relative;
}
.cases-fx p {
  text-align: center!important;
  padding-top: 60px;
  line-height: initial!important;
}
.cases-fx:hover {
  background: url('../image/fx-2.png') no-repeat center top;
}
.cases-fx:hover .wx-wb {
  display: flex;
}
.cases-fx .wx-wb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 6px 0;
  width: 140px;
  left: 0;
  position: absolute;
  top: -45px;
  display: none;
}
.cases-fx .wx-wb .ifx {
  width: 34px;
  height: 34px;
}
.cases-fx .wx-wb .wb {
  background: url('../image/fx-wb1.png') no-repeat center top;
  background-size: contain;
}
.cases-fx .wx-wb .wb:hover {
  background: url('../image/fx-wb2.png') no-repeat center top;
  background-size: contain;
}
.cases-fx .wx-wb .wx {
  background: url('../image/fx-wx1.png') no-repeat center top;
  background-size: contain;
  position: relative;
}
.cases-fx .wx-wb .wx:hover {
  background: url('../image/fx-wx2.png') no-repeat center top;
  background-size: contain;
}
.cases-fx .wx-wb .wx:hover .er {
  display: block;
}
.cases-fx .wx-wb .er {
  display: none;
  width: 200px;
  height: 191px;
  background: #fff;
  position: absolute;
  bottom: 50px;
  left: -84px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.cases-fx .wx-wb .er::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid white;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
}
.cases-fx .wx-wb .er .it {
  font-size: 12px;
  color: #777777;
  text-align: center;
  line-height: 25px;
  background: #f3f3f3;
  border-radius: 6px 6px 0 0;
}
.cases-fx .wx-wb .er .code {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  background: #000;
}
.cases-fx .wx-wb .er .tips {
  font-size: 12px;
  color: #777777;
  padding: 0 12px;
}
/* 关于我们 */
.ea-tit {
  font-size: 32px;
  color: #eb5d16;
  position: relative;
  z-index: 0;
}
.ea-tit::after {
  content: attr(data-title);
  font-size: 32px;
  color: #f7f7f7;
  position: absolute;
  top: -18px;
  left: 0;
  z-index: -1;
  text-transform: uppercase;
  font-weight: bold;
}
.enterprise-archives {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 120px 0;
  justify-content: center;
}
.enterprise-archives.lr {
  flex-direction: row-reverse;
}
.enterprise-archives .item {
  margin: 20px 50px;
}
.enterprise-archives .item h3 {
  margin-bottom: 18px;
}
.enterprise-archives .item p {
  line-height: 34px;
}
.enterprise-archives .item p span {
  color: #000000;
}
.company-profile {
  padding: 110px 0;
}
.company-profile .txt {
  max-width: 830px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.company-profile .txt .ea-tit {
  margin-bottom: 35px;
}
.company-profile .txt .ea-tit::after {
  color: #fff;
  width: 100%;
}
.company-profile .txt p {
  font-size: 16px;
  color: #333333;
  line-height: 33px;
}
/* 新闻资讯 */
.news-main {
  padding: 156px 0 164px;
}
.news-main .news-main-list {
  max-width: 1100px;
  margin: 45px auto 0;
}
.news-main .news-main-list .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 0;
}
.news-main .news-main-list .img {
  width: 259px;
  height: 195px;
  overflow: hidden;
  margin-right: 25px;
}
.news-main .news-main-list .txt {
  max-width: calc(100% - 259px - 25px);
}
.news-main .news-ti {
  font-size: 18px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news-main .news-ms {
  font-size: 14px;
  color: #666;
  margin: 12px 0;
}
.news-main .news-ms span {
  color: #eb5d16;
  border: 1px solid #eb5d16;
  padding: 2px 4px;
  margin-right: 5px;
  border-radius: 2px;
}
.news-main .news-jj {
  font-size: 14px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news-main .more {
  text-align: center;
  line-height: 60px;
  font-size: 13px;
  color: #999999;
  cursor: pointer;
}
.news-main .more:hover {
  color: #eb5d16;
}
/* 加入我们 */
.join-us .container {
  padding: 56px 0 100px;
  background: #fff;
  border-radius: 6px;
  position: relative;
  top: -56px;
}
.join-us .sec-title {
  text-align: center;
  color: #333333;
  font-size: 28px;
}
.join-us .main {
  padding: 0 110px;
}
.join-us .main h3 {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  position: relative;
  padding-left: 10px;
  line-height: 40px;
  text-align: justify;
  margin-top: 50px;
}
.join-us .main h3::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 3px;
  height: 18px;
  background: #eb5d16;
}
.join-us .main p {
  text-align: justify;
  color: #666666;
  font-size: 14px;
  line-height: 38px;
}
.recruit .d-tit {
  padding: 50px 0 60px;
}
.recruit .d-tit .sec-title {
  color: #333333;
  font-size: 28px;
}
.recruit .art-nav a {
  width: 300px;
}
.recruit .art-container .container:not(:first-child) {
  display: none;
}
.recruit .container {
  padding: 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.recruit .item {
  width: 570px;
  height: 724px;
  border: 2px solid #e6e6e6;
  padding: 66px 0 0 34px;
  box-sizing: border-box;
  margin: 15px;
}
.recruit .item h3 {
  font-size: 26px;
  color: #eb5d16;
  position: relative;
  z-index: 0;
}
.recruit .item h3::after {
  content: attr(data-title);
  font-size: 26px;
  color: #f7f7f7;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: -1;
  text-transform: uppercase;
  font-weight: 100;
}
.recruit .item h4 {
  font-size: 16px;
  color: #333333;
  margin-top: 50px;
  margin-bottom: 10px;
}
.recruit .item p {
  font-size: 12px;
  color: #666666;
  line-height: 35px;
}
.recruit .more {
  text-align: center;
  line-height: 60px;
  font-size: 13px;
  color: #999999;
  cursor: pointer;
  width: 100%;
}
.recruit .more:hover {
  color: #eb5d16;
}
/*联系我们*/
.contact-us {
  padding: 90px 0 100px;
}
.contact-us .tips {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.contact-us .tips .item {
  margin-bottom: 20px;
}
.contact-us .tips .contact-us-ti {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}
.contact-us .tips .contact-us-ti::after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background: #eb5d16;
  margin-top: 10px;
}
.contact-us .tips .contact-us-ms {
  font-size: 16px;
  color: #333;
  line-height: 32px;
}
.contact-us .map-main {
  margin-top: 95px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.contact-us .map-main .ti {
  width: calc(100% - 678px);
  padding: 0 100px;
  box-sizing: border-box;
}
.contact-us .map-main .ti .contact-us-ti {
  font-size: 31px;
  color: #333;
  margin-bottom: 35px;
}
.contact-us .map-main .ti .contact-us-ms {
  font-size: 18px;
  color: #333;
  line-height: 40px;
}
.contact-us .map {
  width: 678px;
  height: 100%;
  background: #fcfbf7;
}
.contact-us .map img {
  max-width: inherit;
}
@keyframes f {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
  }
  to {
    -webkit-transform: translateY(calc(-74%));
    transform: translateY(calc(-74%));
  }
}
#footer {
  width: 100%;
  background: url('../image/footer-bg.jpg') repeat center #000;
  text-align: center;
  height: 390px;
  position: fixed;
  z-index: -1;
  bottom: 0;
}
#footer .container {
  border-bottom: 2px solid #fff;
  padding: 50px 0 30px;
  font-size: 0;
}
#footer .logo,
#footer .nav,
#footer .er {
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 20px;
}
#footer .logo {
  text-align: left;
}
#footer .logo img {
  margin-bottom: 10px;
}
#footer .logo p {
  color: #fff;
  font-size: 13px;
  line-height: 24px;
}
#footer .nav {
  margin: 0 36px 20px 60px;
}
#footer .nav ul {
  vertical-align: middle;
  display: inline-block;
  vertical-align: top;
}
#footer .nav li:nth-child(1) a {
  color: #fff;
}
#footer .nav a {
  line-height: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  color: #bcbcbc;
  margin: 0 22px 10px;
}
#footer .er {
  width: 140px;
}
#footer .tips {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  color: #bcbcbc;
  line-height: 35px;
  background: rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 1400px) {
  article .art-nav a {
    width: 250px;
  }
  .recruit .art-nav a {
    width: 250px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 4%;
    box-sizing: border-box;
  }
  .dynamic {
    display: none;
  }
  #header {
    overflow: initial;
  }
  .header_nav .container {
    padding: 0;
  }
  #header .header_nav {
    background: #000000;
  }
  .header_nav .logo {
    margin-left: 20px;
  }
  .header_nav * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .header_nav .one_nav {
    position: absolute;
    top: 58px;
    background: #3e3e3e;
    width: 100%;
    padding: 40px;
    display: none;
  }
  .header_nav .one_nav .one_list {
    display: block;
    padding: 0;
  }
  .header_nav .one_list .one_list_a {
    display: block;
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #dadada;
    box-sizing: border-box;
  }
  .header_nav .one_list .one_list_a::after {
    right: 0;
  }
  .header_nav .one_list .one_list_a_x {
    pointer-events: auto;
  }
  .header_nav .two_list {
    width: auto;
    overflow: hidden;
    height: 55px;
    transition: height 0.3s ease-in;
  }
  .header_nav .two_list.two_list_tz {
    height: auto;
  }
  .header_nav .two_list .two_list_a {
    display: block;
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #dadada;
    box-sizing: border-box;
    color: #9E9E9E;
  }
  .header_nav .two_list .two_list_a_ti {
    position: relative;
    margin-bottom: 0;
  }
  .header_nav .two_list .two_list_a_ti::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 6px;
    background: url(../image/sjt.png) no-repeat center;
    background-position: 0 -18px;
  }
  .header_nav .two_nav {
    transition: initial;
    position: initial;
    top: initial;
    width: initial;
    cursor: initial;
    background: initial;
    transform: initial;
    padding-bottom: 0;
    display: none;
    opacity: 1;
    visibility: initial;
  }
  .header_nav .two_nav::after {
    content: initial;
  }
  .header_nav .two_list_a {
    color: #fff;
    font-size: 15px;
  }
  .header_nav .two_list_tz {
    margin-left: 0;
  }
  .header_nav .two_list_tz .two_list_a_ti::after {
    content: initial;
  }
  .header_nav .hamburger-box {
    display: block;
  }
  .contact-us .map-main {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .contact-us .map-main .ti {
    width: 100%;
    padding: 20px 0;
  }
  .contact-us .map {
    width: 100%;
  }
  .contact-us .map-main {
    margin-top: 75px;
  }
  .contact-us {
    padding: 70px 0 80px;
  }
  .map-main.set-bg1 {
    background: #fff;
  }
  .message .msg-ipt {
    max-width: 888px;
    margin: 26px 0;
  }
  article {
    margin-bottom: 0;
  }
  #footer,
  #footer .tips {
    position: initial;
  }
  #footer {
    height: auto;
  }
  .join-us {
    padding: 0 4%;
  }
  .news-main .news-main-list {
    padding: 0 4%;
  }
  .enterprise-archives,
  .company-profile {
    padding: 5% 4%;
  }
  .enterprise-archives .item {
    margin: 20px 0;
  }
  .sec-ads-tips .gg-nav {
    display: none;
  }
  .sec-ads-tips .medium-advantage-list .item {
    justify-content: center;
    padding: 3% 0;
  }
  .sec-ads-tips .medium-advantage-list,
  .sec-ads-tips .medium-advantage-list:not(:first-child) {
    display: block;
  }
  .sec-ads-tips .medium-advantage-list .txt p {
    padding-left: 0px;
  }
  .sea-ads {
    padding: 5% 0;
  }
  .market-tips .market-tips-list .txt {
    width: auto;
  }
  .market-tips .market-tips-list .txt .sec-title {
    font-size: 30px;
  }
  .market-tips .market-tips-list .txt p {
    font-size: 16px;
    padding-left: 0;
  }
  .market-tips .market-tips-list .img {
    max-width: 400px;
  }
  .market-tips,
  .server-resou,
  .delivery-adv {
    padding: 5% 0;
  }
  .server-resou .server-resou-list {
    justify-content: space-around;
  }
  article .art-nav {
    height: 50px;
    line-height: 50px;
  }
  article .art-nav a {
    width: auto;
    padding: 0 10%;
  }
  .recruit .art-nav a {
    width: auto;
    padding: 0 2%;
  }
  .solution-lc {
    padding: 4%;
  }
  .resources .dot {
    display: none;
  }
  .product-main .product-item {
    justify-content: center;
  }
  .product-main .product-item:nth-child(odd) .product-item-show {
    margin-right: 0;
  }
  .product-main .product-item:nth-child(odd) .mock-browser {
    right: 0;
    left: 0;
  }
  .product-main .product-item-content {
    margin: 10px 0 20px;
    padding: 0 4%;
  }
  .cases-content .main {
    padding: 0 4% 65px;
  }
}
@media only screen and (max-width: 980px) {
  .contact-us .map-main {
    margin-top: 45px;
  }
  .contact-us {
    padding: 50px 0 60px;
  }
  .message .sec-title {
    padding: 70px 0 20px;
    font-size: 28px;
  }
  .news-main .news-main-list .img {
    width: 220px;
    height: 166px;
  }
  .news-main .news-main-list .txt {
    width: calc(100% - 245px);
  }
  .market-tips .market-tips-list .item {
    justify-content: center;
    padding: 4% 0;
  }
}
@media only screen and (max-width: 750px) {
  .contact-us .map-main {
    margin-top: 25px;
  }
  .contact-us {
    padding: 40px 0 40px;
  }
  .message .sec-title {
    padding: 50px 0 20px;
    font-size: 24px;
  }
  #footer .nav {
    margin: 0 0 20px 0;
    width: 100%;
  }
  #footer .nav ul {
    display: block;
    height: 40px;
    overflow: hidden;
  }
  #footer .nav li:nth-child(1) a {
    width: 100%;
    display: block;
    margin: 0 0 10px;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    text-align: left;
  }
  #footer .container {
    padding: 50px 5% 30px;
  }
  .sea-ads .sea-ads-list .item {
    width: 94%;
    height: auto;
    margin: 10px 0;
  }
  .sea-ads .sea-ads-list .txt {
    padding: 0 0 20px;
  }
  .server-adv .server-adv-list .item {
    height: 515px;
  }
  .market-tips-pro .market-tips-list .txt {
    padding-left: 0;
  }
  .solution-tips .container {
    max-height: initial;
  }
}
@media only screen and (max-width: 640px) {
  .header_nav .one_list .one_list_a {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
  }
  .header_nav .two_list .two_list_a {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
  }
  .header_nav .one_nav {
    padding: 20px;
  }
  #header .banner {
    margin-top: 58px;
  }
  #header .home_banner .gun {
    display: block;
    position: absolute;
    bottom: 6%;
    right: 0;
    margin: auto;
    left: 0;
    z-index: 5;
  }
  .contact-us .map-main {
    margin-top: 0px;
  }
  .contact-us .map-main .ti .contact-us-ti {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .contact-us .map-main .ti .contact-us-ms {
    font-size: 14px;
    line-height: 24px;
  }
  .contact-us {
    padding: 30px 0 20px;
  }
  .message .sec-title {
    padding: 40px 0 10px;
    font-size: 16px;
  }
  .message .msg-ipt {
    max-width: initial;
    margin: 10px 0px;
  }
  .news-main .news-main-list .img {
    width: 140px;
    height: 105px;
    margin-right: 10px;
  }
  .news-main .news-main-list .txt {
    width: calc(100% - 150px);
    max-width: initial;
  }
  .news-main .news-ti {
    font-size: 14px;
  }
  .news-main .news-ms,
  .news-main .news-jj {
    font-size: 12px;
  }
  .news-main {
    padding: 30px 0;
  }
  .news-main .news-main-list {
    margin: 15px auto 0;
  }
  .server-adv .server-adv-list .item {
    width: 350px;
  }
  #header .banner .swiper-slide,
  #header .c_banner .swiper-slide {
    height: 400px;
  }
  #header .home-banner-slogan {
    font-size: 20px;
    line-height: 36px;
  }
  .advantage {
    padding: 30px 0;
  }
  .advantage .ys-list {
    padding-top: 20px;
  }
  .advantage .ys-list a {
    width: 340px;
    height: 300px;
    margin: 5px 10px;
  }
  .advantage .advantage-txt {
    padding-top: 76px;
  }
  .advantage .advantage-txt h3 strong {
    font-size: 20px;
  }
  .advantage .advantage-txt p {
    text-align: justify;
  }
  .solution-lc .img {
    margin: 10px auto 0;
  }
  .solution-tips {
    padding-top: 30px;
  }
  .case .al-list {
    text-align: center;
  }
  .case .al-list a {
    filter: initial;
  }
  .focus-map .focus-bx p,
  .focus-map .focus-bx p:last-child {
    font-size: 16px;
    padding: 0 4%;
  }
  .product-main .mock-browser,
  .product-item-show > img {
    display: none;
  }
  article .sec-title {
    font-size: 20px;
  }
  .sea-ads .sea-ads-list {
    padding-top: 4px;
  }
  .sea-ads .sea-ads-list .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px auto;
    pointer-events: none;
    border: none;
  }
  .sea-ads .sea-ads-list .img {
    width: 100px;
    height: 100px;
    margin: 0;
  }
  .sea-ads .sea-ads-list .txt {
    width: calc(100% - 100px - 10px);
    font-size: 14px;
    text-align: justify;
  }
  .sec-ads-tips .medium-advantage-list .txt h3 {
    padding-top: 10px;
    font-size: 20px;
  }
  .sec-ads-tips .medium-advantage-list .txt p {
    font-size: 14px;
    color: #666666;
    line-height: 24px;
  }
  article .art-nav {
    display: flex;
  }
  article .art-nav a {
    flex: 1;
  }
  article .sea-tibox .tips {
    font-size: 14px;
    text-align: justify;
  }
  .market-tips .market-tips-list .txt .sec-title {
    font-size: 20px;
    padding-top: 10px;
  }
  .market-tips .market-tips-list .txt p {
    font-size: 14px;
    text-align: justify;
    line-height: 24px;
  }
  .server-adv {
    padding: 5% 0;
  }
  .server-adv .server-adv-list {
    padding-top: 0px;
  }
  .server-adv .server-adv-list .item {
    height: auto;
  }
  .server-adv .server-adv-list .txt {
    padding: 10% 0;
  }
  .server-adv .server-adv-list h3 {
    margin: 0 0 10px;
  }
  .product-main {
    padding: 30px 0 15px;
  }
  .product-main .sec-title::after {
    content: initial;
  }
  .product-main .product-main-list {
    padding-top: 12px;
  }
  .product-main .product-item-content h2 {
    margin-bottom: 10px;
  }
  .product-main .product-item-content h2 img {
    width: 130px;
  }
  .product-main .product-item-content h3 {
    font-size: 18px;
  }
  .product-main .product-item-content li,
  .product-main .product-item-content p {
    font-size: 14px;
    line-height: 24px;
  }
  .product-main .product-item-content {
    margin: 5px 0 10px;
  }
  .product-main .product-item-content .btn {
    width: 120px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    margin: 15px 0 0;
  }
  .ea-tit {
    font-size: 20px;
  }
  .ea-tit::after {
    content: initial;
  }
  .company-profile .txt .ea-tit {
    margin-bottom: 10px;
  }
  .company-profile .txt p,
  .enterprise-archives .item p {
    line-height: 24px;
    font-size: 14px;
  }
  .focus-map {
    height: 150px;
  }
  .cases-content .container {
    margin-top: -50px;
  }
  .recruit .art-nav a {
    padding: 0;
    font-size: 13px;
  }
  .recruit .item h3 {
    font-size: 20px;
  }
  .recruit .item h3::after {
    content: initial;
  }
  .join-us .main {
    padding: 0 20px;
  }
  .join-us .container {
    padding: 20px 0;
  }
  .join-us .main p {
    line-height: 24px;
  }
  .join-us .main h3 {
    margin-top: 10px;
  }
  .recruit .d-tit {
    padding: 20px 0;
  }
  .recruit .d-tit .sec-title {
    font-size: 24px;
  }
  .recruit .item h4 {
    margin-top: 18px;
  }
  .recruit .item p {
    line-height: 22px;
  }
  .recruit .container {
    padding: 10px 0;
  }
  .recruit .item {
    height: auto;
    padding: 5%;
  }
  .contact-us .tips .contact-us-ti {
    font-size: 20px;
  }
  .contact-us .tips .contact-us-ms {
    font-size: 14px;
    line-height: 25px;
  }
  article .d-tit {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 480px) {
  .server-adv .server-adv-list .item {
    width: 330px;
  }
  #header .banner .swiper-slide,
  #header .c_banner .swiper-slide {
    height: 275px;
  }
}
@keyframes wave {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  60% {
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
    -webkit-transform: scale(1.8);
  }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes flip {
  0% {
    opacity: 0;
    transform: rotateY(-125deg);
    -ms-transform: rotateY(-125deg);
    -o-transform: rotateY(-125deg);
    -webkit-transform: rotateY(-125deg);
    -moz-transform: rotateY(-125deg);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    opacity: 0;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
    opacity: 0;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    opacity: 0;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=./style.css.map */